body {
  padding-bottom: 5em;
  padding-top: 1em;
  margin-left: 300px;
  margin-right: 300px;

}

.contact h2 {
  background-color: transparent;
  margin-bottom: 0em;
}

.contact p {
  margin-top: 0em;
}

.contact .address {
  text-align: center;
  margin: 0em;
  padding: 0em;
}

.contact .phone {
  text-align: left;
  font-weight: bold;
  display: inline;
  float: left;
}

.contact .email {
	text-align: right; /*Not strictly nessesary since email is only one line.*/
	float: right;
  padding-bottom: 1em;
}

hr {
  clear: both;
  border-bottom: solid;
  border-bottom: thick double;
}

h2 {
	text-align: center;
  clear: both;
  background-color: #CBCBCB;
  padding-bottom: 0;
  margin-bottom: 0;
}

h1 {
  text-align: left;
  font-size: 1em;
  padding-bottom: 0;
  margin-bottom: -.1em;
  clear: both;
}

p {
  clear: both;
}

ul.selfAssessment {
  list-style-type: circle;
}

.chart-left {
	text-align: left;
	display: inline;
	float: left;
  clear: left;
}

.chart-right {
	text-align: right;
	float: right;
  clear: right;
}

